*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #5c99fc;
    font-family: sans-serif;
}

.container{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: white;
    width: 90vmin;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(36, 23, 52, 0.329);
}

.search_bar{
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
}

.search_bar input{
    width: 70%;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    font-size: 16px;
}

.search_bar button{
    background-color: #5c99fc;
    border: none;
    padding: 0 50px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.result{
    position: relative;
}

.result h3{
    font-size: 2.3rem;
    font-weight: 400;
    color: rgb(44, 44, 44);
}

.result .word{
    margin-top: 80px;
}

.details{
    display: flex;
    gap: 10px;
    color: #9fa2c5;
    font-weight: 200;
    font-size: 14px;
    margin: 6px 0 0;
}

.word-mean{
    margin-top: 15px;
    line-height: 1.4;
    font-size: 16px;
    color: #585a74;
}

.word-example{
    margin-top: 15px;
    line-height: 1.4;
    font-size: 16px;
    color: #585a74;
    border-left: 5px solid #9a77d3;
    padding-left: 20px;
    font-style: italic;
    margin-top: 40px;
}

.error{
    color: rgb(247, 107, 107);
    margin-top: 40px;
    font-size: 14px;
    text-align: center;
}